@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Artifika&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgRamble: "#E4E4E7";
  --textBody: Sen;
  --textHeader: Artifika;
  --bgDark: "#080402";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 1rem var(--textBody);
  background-color: var(--bgRamble);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--bgDark);
  background: var(--bgDark);
}

nav {
  background-color: var(--bgDark);
  background: var(--bgDark);
}